@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    /* CSS rules for this range */
}



@media only screen and (max-width: 1200px) and (min-width: 992px) {
    .navbar-menu {
        width: 60%;
        display: flex;
        justify-content: flex-start;
    }

    ul,
    li {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
    }

    .left {
        position: relative;
        width: 100%;
        height: 60vh;
        padding: 0px 20px;
    }

    .left-image {
        position: absolute;
        height: 442px;
        width: 420px;
        right: 0px;
        top: 120px;
    }

    .left-desc {
        font-size: 18px;
    }

    .right {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }

    .form-options {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }
    .divider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        text-align: center;
        padding: 0px 10px;
    }
}


@media only screen and (max-width: 992px) and (min-width: 768px) {
    .navbar-menu {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }

    ul,
    li {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    .btn {
        display: none;
    }
    .Hero-Section {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding: 30px 60px;
        border: 1px solid black;
        background-image: url(Images/Ellipse\ 233.png);
        background-repeat: no-repeat;
        background-position: left bottom;
    }
    h1 {
        font-size: 37px;
        font-weight: 500;
        color: #2B59FF;
        width: 450px;
        text-align: center;
    }
    .first {
        font-size: 37px;
        font-weight: 500;
        color: #FFB700;
        text-align: center;
    }
    .left-desc {
        font-size: 15px;
        font-weight: 400;
        width: 306px;
        margin-top: 15px;
        align-items: center;
    }
    .left-image {
        position: static;
        height: 350px;
        width: 320px;
    }
    .left {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0px 30px;
    }
}


@media only screen and (max-width: 768px) and (min-width: 500px) {
    .navbar-menu {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }

    ul,
    li {
        display: none;
    }

    .btn {
        display: flex;
        justify-content: end;
        width: 40%;
        width: 100%;
    }

    button, a {
        padding: 12px 25px;
        color: white;
        background-color: #2B59FF;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 500;
    }
    .Hero-Section {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 30px;
        border: 1px solid black;
        background-image: url(Images/Ellipse\ 233.png);
        background-repeat: no-repeat;
        background-position: -30% 100%;
    }
    h1 {
        font-size: 28px;
        font-weight: 500;
        color: #2B59FF;
        width: 450px;
        text-align: center;
    }
    .first {
        font-size: 28px;
        font-weight: 500;
        color: #FFB700;
        text-align: center;
    }
    .left-desc {
        font-size: 15px;
        font-weight: 400;
        width: 306px;
        margin-top: 15px;
        text-align: center;
    }
    .left-image {
        position: static;
        height: 275px;
        width: 250px;
        right: 20px;
        top: 10px;
    }
    .left {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0px 30px;
    }
    .Form-heading {
        font-size: 32px;
        font-weight: 700;
    }
    .Form-desc {
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
        text-align: center;
    }
    .form-options {
        display: flex;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
    }
    .divider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: 10px;
        padding: 0px 0px;
    }
    .divider, p {
        font-size: 14px;
    }
    .Social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 10px;
    }
    .right {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        padding: 12px;
    }
}



@media only screen and (max-width: 499px) and (min-width: 320px) {
    header {
        height: 12vh;
        align-items: center;
        padding: 0px 10px;
    }

    .header-inner {
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
    }

    .navbar-menu {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }

    ul,
    li {
        display: none;
    }

    .btn {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    button,
    a {
        padding: 10px 15px;
        color: white;
        align-items: center;
        background-color: #2B59FF;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
    }
    .Hero-Section {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 30px 30px;
        border: 1px solid black;
        background-image: url(Images/Ellipse\ 233.png);
        background-repeat: no-repeat;
        background-position: -30% 100%;
        flex-wrap: wrap;
    }
    .left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0px 0px;
    }
    h1 {
        font-size: 25px;
        font-weight: 500;
        color: #2B59FF;
        width: 450px;
        text-align: center;
    }
    .first {
        font-size: 25px;
        font-weight: 500;
        color: #FFB700;
        text-align: center;
    }
    .left-desc {
        font-size: 15px;
        font-weight: 400;
        width: 306px;
        margin-top: 15px;
        text-align: center;
    }
    .left-image {
        position: static;
        height: 200px;
        width: 200px;
        right: 20px;
        top: 10px;
    }
    .right {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-cornerimg {
        display: none;
    }
    .Form-desc {
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px;
        text-align: center;
    }
    .form-options {
        display: flex;
        justify-content: space-between;
        gap: 2px;
        width: 100%;
    }
    .Social-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        padding: 0px 60px;
    }
}