* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 30px;
    background-color: white;
    box-shadow: 0px 11px 34px -11px(0,0,0,5);
}
.header-inner {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}
.logo{
    width: 15%;
}
.navbar-menu {
    width: 60%;
    display: flex;
    justify-content: flex-start;
}
ul,li {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    cursor: pointer;
}
.engineers {
    color: #2B59FF;
    font-weight: 500;
}
.btn {
    display: flex;
    justify-content: end;
    width: 25%;
    padding: 0px 12px 0px 0px;
}
button,a {
    padding: 14px 30px;
    color: white;
    background-color: #2B59FF;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

/* Hero Secion Styling */

.Hero-Section {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 60px;
    border: 1px solid black;
    background-image: url(Images/Ellipse\ 233.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.right-cornerimg {
    position: absolute;
    right: 0;
    top: 0;
}
.left {
    position: relative;
    width: 100%;
    height: 60vh;
    padding: 0px 30px;
}
.right {
    width: 100%;
    height: 60vh;
}


h1 {
    font-size: 37px;
    font-weight: 500;
    color: #2B59FF;
    width: 450px;
}
.first {
    font-size: 37px;
    font-weight: 500;
    color: #FFB700;
}
.left-desc {
    font-size: 15px;
    font-weight: 400;
    width: 306px;
    margin-top: 15px;
}
.left-image {
    position: absolute;
    height: 460px;
    width: 423px;
    right: 20px;
    top: 10px;
}

/* Hero Right Box Styling */

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 12px;
}
.inner-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}
.Form-heading {
    font-size: 48px;
    font-weight: 700;
}
.Form-desc {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.Inner-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
}
.input-fields-one {
    width: 100%;
    padding: 18px 53px 18px 30px;
    margin: 10px;
    background-color: #F1F4FF;
    border: none;
}
.input-fields-two {
    width: 100%;
    padding: 18px 53px 18px 30px;
    margin: 10px;
    background-color: #F1F4FF;
    border: none;
    background-image: url(Images/Group\ \(1\).png);
    background-repeat: no-repeat;
    background-position: 95%;
}
.form-options {
    display: flex;
    justify-content: space-between;
    gap: 230px;
    width: 100%;
}
.Signin-btn {
    padding: 20px 20px;
    width: 100%;
    align-self: center;
    margin-top: 25px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 25px;
}
.Social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

/* Footer Section Styling */


.Footer-main {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F3F4F6;
    padding: 40px;
}
.Column-one {
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
}
.footer-description {
    margin: 20px 0px 20px 0px;
}
.Column-two {
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
}
.Column-Three{
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
}
.Column-Four {
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid black;
}
.footer-menu {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}
.Newsletter-footer {
    border: none;
    border-radius: 46px;
    padding: 18px 18px;
    margin-bottom: 20px;
}
.Newsletter-btn {
    align-self: flex-end;
    width: 138px;
    height: 51px;
}